Add a Video!
<div id=ourfront>
	<p></p>
	<p></p>
	<form method='post' action='/create'>
		<br>
		<br>
		<br>
		<br>
		<br>
		<span id=furtype>Title</span><input type='text' name='title' placeholder= 'Title' autofocus>
		<span id=furtype>Description</span><input type='text' name='description' placeholder= 'Description' autofocus><br>
		<br>
		<br>
		<br>
		<span id=furtype>Genre</span><input type='text' name='genre' placeholder= 'Genre' autofocus>
		<span id=furtype>URL</span><input type='text' name='url' placeholder= 'URL' autofocus>
		<br>
		<br>
		<br>
		<br>
		<br>
		<button>New Movie</button>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</form>
</div>